/* 
1. подключить файл сброса тилей - он будет первым
2. все остальные писать в этом файле
*/
@import url(normalize.css);
@import url(reusable.css);
@import url(hero.css);
@import url(word-of-leader.css);
@import url(advantages.css);
@import url(specialists.css);
@import url(clients.css);
@import url(reviews.css);
@import url(useful.css);

:root {
  font-family: Montserrat, Arial, sans-serif;
  font-weight: 400;
  --white: rgba(255, 255, 255, 1);
  --light-yellow: rgba(227, 195, 122, 1);
  --dark-yellow: rgba(164, 131, 78, 1);
  --muted: rgba(177, 177, 177, 1);
  --card-border: rgba(217, 217, 217, 1);
  --black: rgba(35, 34, 40, 1);
}

body {
  height: 100vh;
  background-color: rgba(246, 244, 245, 1);

}

h1 {
  font-size: 56px;
  text-transform: uppercase;
  color: var(--white);
  margin-bottom: 32px;
}

h2 {
  text-transform: uppercase;
  font-size: 40px;
  line-height: 52px;
  margin-bottom: 20px;
  letter-spacing: 0.025em;
}

.container {
  max-width: 1440px;
  height: 100%;
  margin-inline: auto;
}

.button {
  width: 200px;
  height: 44px;
  border: 1px solid var(--light-yellow);
  text-transform: uppercase;
  color: var(--black);
}
